@page
@model ShoppingWeb.ProductModel
@{
    ViewData["Title"] = "Product";
}

<div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-page="Product">Category</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@Model.SelectedCategory</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group category_block">

                    @foreach (var category in Model.CategoryList)
                    {
                        <li class="list-group-item"><a asp-page="Product" asp-route-pageNumber="1" asp-route-categoryName="@category">@category</a></li>
                    }

                </ul>
            </div>

            <div class="card bg-light mb-3">
                <div class="card-header bg-success text-white text-uppercase">Last product</div>
                <div class="card-body">
                    @if (Model.ProductList.Count() != 0)
                    {
                        <img asp-append-version="true" class="img-fluid" src="~/images/product/@Model.ProductList.LastOrDefault().ImageFile" />
                        <h5 class="card-title">@Model.ProductList.LastOrDefault().Name</h5>
                        <p class="card-text">@Model.ProductList.LastOrDefault().Summary</p>
                        <p class="bloc_left_price">@Model.ProductList.LastOrDefault().Price $</p>
                    }
                    else
                    {
                        <div>No product to show</div>
                    }
                </div>
            </div>

        </div>

        <div class="col">
            <div class="row">

                @foreach (var product in Model.ProductList)
                {
                    <div class="col-12 col-md-6 col-lg-4">
                        <p class="text-danger">@ViewData["productError"]</p>
                        <partial name="_ProductItemPartial" model="@product" />
                    </div>
                }

                <div class="col-12">
                    <nav aria-label="...">
                        <ul class="pagination">
                            @{
                                int.TryParse(HttpContext.Request.Query["pageNumber"].FirstOrDefault(), out int page);
                                if (page > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" asp-page="Product" asp-route-pageNumber="@(page - 1)" tabindex="-1">Previous</a>
                                    </li>

                                }
                                if (page < Model.ProductList.Count())
                                {
                                    <li class="page-item active"><a class="page-link" asp-page="Product" asp-route-pageNumber="@(page)">@(page)</a></li>
                                    <li class="page-item">
                                        <a class="page-link" asp-page="Product" asp-route-pageNumber="@(page + 1)">Next</a>
                                    </li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</div>


